/* Header & Navigation */
.header {
    background-color: transparent;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index:var(--z-fixsed);
    padding: var(--spacing-sm) var(--spacing-xl);
    transition: var(--transition-normal);
}

.header.scrolled {
    background-color: var(--dark);
    box-shadow: var(--shadow-sm);
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-menu {
    display: flex;
    list-style: none;
    gap: var(--spacing-md);
}

.nav-link {
    color: var(--white);
    font-size: var(--font-sm);
    white-space: nowrap;
    position: relative;
}

.nav-link.active {
    color: var(--secondary);
}

.nav-link::after {
    content: "";
    position: absolute;
    bottom: -5px;
    width: 0;
    height: 1px;
    left: 50%;
    transform: translateX(-50%);
    background: var(--line);
    transition: var(--transition-normal);
}

.nav-link:hover::after,
.nav-link.active::after {
    width: 100%;
}

.nav-buttons {
    display: flex;
    align-items: center;
    gap: var(--spacing-sm);
}

.nav-icon {
    color: var(--white);
    font-size: var(--font-4xl);
    position: relative;
    cursor: pointer;
}


.cart-count {
    position: absolute;
    top: 0;
    right: -10px;
    background-color: var(--secondary);
    color: var(--dark);
    font-size: var(--font-sm);
    width: 18px;
    height: 18px;
    border-radius: var(--radius-full);
    display: flex;
    justify-content: center;
    align-items: center;
}

.hamburger-btn {
    display: none;
    width: var(--spacing-md);
    height: var(--spacing-sm);
    position: relative;
    cursor: pointer;
    z-index: 1001;
}

.hamburger-btn span {
    display: block;
    width: 100%;
    height: 3px;
    background-color: var(--white);
    position: absolute;
    right: 0;
    transition: var(--transition-normal);
}

.hamburger-btn span:nth-child(1) {
    width: 75%;
    top: 0;
}

.hamburger-btn span:nth-child(2) {
    width: 100%;
    top: 10px;
}


.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(81, 81, 81, 0.5);
    backdrop-filter: blur(1px);
    opacity: 0;
    visibility: hidden;
    transition: all var(--transition-normal) ease;
    z-index: var(--z-overly);
}

.overlay.active {
    opacity: 1;
    visibility: visible;
}



.sidebar {
    display: none;
    position: fixed;
    top: 0;
    width: 80%;
    height: 100%;
    background-color:var(--off-white);
    transition: all 1s ease ;
    padding:var(--spacing-xs) var(--spacing-sm);
    box-shadow: -5px 0 20px rgba(0, 0, 0, 0.1);
    z-index: 1050;
    overflow-y: auto;
    transform: translateX(100%);
}

.sidebar.active{
    transform: translateX(0);
}

.sidebar-header{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 0 10px 0;
    padding: var(--spacing-xs);
}

.sidebar-header img{
    width: 100px;
}

.close-btn{
    background: transparent;
    border: none;
    cursor: pointer;
    font-size: 30px;
    font-weight: bolder;
}

.search-box{
    position: relative;
    margin: var(--spacing-sm) 0 ;
}

.search-box > input{
    background: transparent;
    border: 2px solid var(--light-gray);
    border-radius: var(--radius-2xl);
    padding: var(--spacing-xs) var(--spacing-md) ;
    width: 100%;
    color: var(--dark);
    box-shadow:0 0 3px rgba(0, 0, 0, 0.08);
    transition: var(--transition-slow);
}

.search-box input:focus{
    outline: none;
    box-shadow: 3px 2px 2px rgba(0, 0, 0, 0.2);
}

.search-box input::placeholder{
    font-size: var(--font-xs);
}

.sidebar-menu{
    padding: var(--spacing-sm);
    list-style: none;
    background: #fffef3;
    border-radius: var(--radius-xl);
    box-shadow: var(--shadow-md);
}

.sidebar-item{
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-between;
    border-bottom: 1px solid var(--light-gray);
    transition: var(--transition-normal);
}

.sidebar-link {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 20px;
    color: var(--dark);
    text-decoration: none;
    transition: var(--transition-slow);
    cursor: pointer;
}

.sidebar-item:hover .sidebar-link{
    translate: 4px;
}

@keyframes slideIn {
    from {
        opacity: 0;
        transform: translateX(20px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}









/*!* Sidebar *!*/
/*.sidebar {*/
/*    display: none;*/
/*    position: fixed;*/
/*    top: 0;*/
/*    right: 0;*/
/*    width: 100%;*/
/*    height: 75vh;*/
/*    background-color: rgba(29, 29, 29, 0.8);*/
/*    transform: translateY(-100%);*/
/*    transition: var(--transition-slow);*/
/*    z-index: var(--z-overly);*/
/*    padding: 90px var(--spacing-lg);*/
/*    box-shadow: var(--shadow-md);*/
/*}*/

/*.sidebar.active {*/
/*    transform: translateY(0);*/
/*}*/

/*.search-box {*/
/*    position: relative;*/
/*    margin: var(--spacing-md) var(--spacing-xl);*/
/*    text-align: center;*/
/*}*/

/*.search-box input {*/
/*    width: 100%;*/
/*    padding: var(--spacing-xs) var(--spacing-sm);*/
/*    border: 2px solid var(--light-gray);*/
/*    background: transparent;*/
/*    color: var(--white);*/
/*    border-radius: var(--radius-xl);*/
/*    font-size: var(--font-sm);*/
/*    outline: none;*/
/*    transition: var(--transition-normal);*/
/*}*/

/*.search-box input::placeholder {*/
/*    color: var(--light-gray);*/
/*}*/

/*.search-box input:focus {*/
/*    box-shadow: var(--shadow-md);*/
/*}*/

/*.sidebar-menu {*/
/*    list-style: none;*/
/*    display: flex;*/
/*    flex-direction: column;*/
/*    align-items: center;*/
/*    gap: var(--spacing-md);*/
/*}*/

/*.sidebar-link {*/
/*    color: var(--light-gray);*/
/*    font-size: var(--font-md-base);*/
/*    transition: var(--transition-slow);*/
/*}*/

/*.sidebar-link:hover {*/
/*    color: var(--white);*/
/*    filter: drop-shadow(0 0 3px #b5b5b5);*/
/*}*/


@media (max-width: 992px) {
    .nav-menu {
        display: none;
    }

    .nav-buttons > .btn {
        display: none;
    }

    .hamburger-btn,
    .sidebar,
    .overlay {
        display: block;
    }

}

