:root {
    /* Colors */
    --primary: #9d2e33;
    --primary-dark: #7a1f24;
    --primary-light: #c8686d;
    --secondary: #d4a96a;
    --secondary-dark: #b3894c;
    --secondary-light: #efd3a7;
    --accent: #669078;
    --accent-dark: #3c5b4a;
    --dark: #1d1d1d;
    --dark-gray: #2d2d2d;
    --medium-gray: #5a5a5a;
    --light-gray: #e2ded7;
    --off-white: #f8f6f3;
    --white: #ffffff;
    --gradient: linear-gradient(to bottom, #ffffff, #f7eee3, #f8efe6, #ffffff);
    --section-gradient: radial-gradient(circle 250px at center, #dfd2c6 0%, #ede3de 50%, #ffffff 100%);
    --line: linear-gradient(90deg, transparent, #d4a96a, transparent);

    /* shadow */
    --shadow-sm: 0 2px 6px rgba(0, 0, 0, 0.05);
    --shadow-md: 0 4px 12px rgba(0, 0, 0, 0.08);
    --shadow-lg: 0 8px 24px rgba(0, 0, 0, 0.12);
    --shadow-card: 0 0 30px rgba(0, 0, 0, 0.12);

    /*fonts*/
    --font-primary: IRANsans, sans-serif;
    --font-secondary: tanha, sans-serif;
    --font-english: sans-serif;

    /*font-size*/
    --font-xs: 12px;
    --font-sm: 14px;
    --font-md-base: 16px;
    --font-lg: 18px;
    --font-xl: 20px;
    --font-2xl: 22px;
    --font-3xl: 24px;
    --font-4xl: 28px;

    /*spacings*/
    --spacing-xs: 0.5rem;
    --spacing-sm: 1rem;
    --spacing-md: 1.5rem;
    --spacing-lg: 2rem;
    --spacing-xl: 3rem;
    --spacing-2xl: 4rem;
    --spacing-3xl: 6rem;
    --spacing-4xl: 10rem;

    /*border radius*/
    --radius-sm: 2px;
    --radius-md: 4px;
    --radius-lg: 8px;
    --radius-xl: 15px;
    --radius-2xl: 22px;
    --radius-full: 50%;

    /*animations*/
    --transition-fast: all 0.15s cubic-bezier(0.165, 0.84, 0.44, 1);
    --transition-normal: all 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
    --transition-slow: all 1s cubic-bezier(0.165, 0.84, 0.44, 1);

    /*layers*/
    --z-base: 1;
    --z-dropdown: 1000;
    --z-sricky: 1010; /*عناصر چسبان*/
    --z-fixsed: 1030; /*هدر ثابت*/
    --z-overly: 1020; /*پس زمینه تیره*/
    --z-modal: 1040;
    --z-navigation: 1050; /*منوی اصلی*/
    --z-tooltip: 1060;
    --z-toast: 1070; /*پیام ها*/
}
